{% extends "profile.html" %}


{% block title %}
<title>{{Home.title}} | PasswordReset</title>  
{% endblock title %}

{% block navigation %}
<div class="site-logo">
            <a class="navbar-brand" href="{% url 'Home' %}"><strong class="text-change">Marly</strong>Mart</a>
          </div>
          <button class="btn lamba d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #75b239">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto text-center" id="navy">
              <li class="nav-item"><a class="nav-link active" href="{% url 'Home' %}" >Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'Contact' %}">Contact</a></li>
              
              <li class="nav-item"><a class="nav-link" href=""> Welcome, {{request.user}}</a></li>
            </ul>
          </div>
        </div>
      </nav>
{% endblock navigation %}

{% block password %}
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left">
                    <h3 class="text-center">Password Reset</h3>
                </div>
                <p class="text-center" style="font-size: 20px">Forgot your password? Enter your email address below , and we'll email instructions for setting a new password</p>

                <form class="text-center mt-3 review-form-box" action="" method="POST" accept-charset="utf-8">
                   {% csrf_token %}
                   {{form}}
                   <button type="submit" name="Send email" class="btn hvr-hover" style="width: 100%">Submit</button>
               </form>
           </div>
       </div>
   </div>
</div>
</div>
{% endblock password %}

