{% extends "password_reset.html" %}
{% block password %}
<div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-12 col-lg-12 mb-3">
                    <div class="title-left">
                        <h3 class="text-center">Enter New Password</h3>
                    </div>
                    <p>Please enter your new password twice so we can verify you typed it in correctly</p>

                    <form action="" method="POST" accept-charset="utf-8">
                    	{% csrf_token %}
                    	{{form}}
                    	<button type="submit" name="Update password" class="btn hvr-hover" style="width: 100%">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endblock password %}