<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'profile/css/menu.css'%}" />
  <link rel="stylesheet" href="{% static 'profile/css/style.css'%}" />
  <link rel="stylesheet" href=" {% static 'profile/css/fontapi.css'%}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href=" {% static 'css/style.css'%}">
  {% block title %}
    <title>{{Home.title}} | Profile</title>  
  {% endblock title %}
  
</head>
<style type="text/css" media="screen">
  .site-logo a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 30px;
    color: #2D015E !important;
    font-weight: 900; 
    margin-left: 50px;
    margin-right: 30px;
}
.site-logo a:hover {
    text-decoration: none; 
}
  
</style>
<body>
  <div class="bodies">
    <div class="side-body">
    </div>
    <div id="content" class="p-4 p-md-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            {% block navigation %}
            {% block navigation1 %}
          <div class="menu-wrap">
            <input type="checkbox" class="toggler" />
            <div class="hamburger"><div><button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button></div></div>
            <div class="menu">
              <div class="wrapper d-flex align-items-stretch">
                <nav id="sidebar">
                  <div class="p-4 pt-5">
                    <a href="#" ><img style="margin-top: 0px;" src="{{request.user.customer.profile_pic.url}}" class="img logo rounded-circle mb-5" alt=""></a>
                    <p class="text-center" style="margin-top: -40px; font-size: 20px;"><i>{{request.user.customer.business_name}}</i></p>
                    <p><i>{{request.user.customer.business_description}}</i></p>
                    <div class="text-center list-unstyled" id="Uploads">
                      <a href="{% url 'updateProfile' customers.id %}" title="">Update profile |</a>
                      <a href="{% url 'uploadProducts' customers.id %}" title="">| Upload goods</a>
                    </div>
                    <ul class="list-unstyled components mb-5">
                      <li>
                        <a class="active" href="{% url 'Userpage' customers.id %}">Dashboard</a>
                        <a href="{% url 'orderView' customers.id %}">Orders</a>
                        <a href="{% url 'MyProductsView' customers.id %}">My Products</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>

            </div>
          </div>
          {% endblock navigation1 %}
          
          <div class="site-logo">
            <a class="navbar-brand" href="{% url 'Home' %}"><strong class="text-change">Marly</strong>Mart</a>
          </div>
          <button class="btn lamba d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #75b239">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto text-center" id="navy">
              <li class="nav-item"><a class="nav-link active" href="{% url 'Home' %}" >Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'AboutUs' %}">About</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'Contact' %}">Contact</a></li>
              
              <li class="nav-item"><a class="nav-link" href=""> Welcome, {{request.user}}</a></li>
              <li class="nav-item"><a class="nav-link" style="color: red;" href="{% url 'Logout' %}">|  Logout |</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock navigation %}
      {% block password %}
      {% block content %}
      <h3 class="text-center">Orders</h3>
      <div class="card text-center text-white mb-3" id="total-orders">
        <div class="card-header">
          <h5 class="card-title">Total Orders</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{order_count}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="card text-center text-white mb-3" id="total-orders">
            <div class="card-header">
              <h5 class="card-title">Orders Pending</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{order_pending}}</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center text-white mb-3" id="orders-delivered">
            <div class="card-header">
              <h5 class="card-title">Orders Out for delivery</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{order_OFD}}</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center text-white mb-3" id="orders-pending">
            <div class="card-header">
              <h5 class="card-title">Orders Delivered</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{order_delivered}}</h3>
            </div>
          </div> 
        </div>
        <div class="col-sm-3">
          <div class="card text-center text-white mb-3" id="orders-pending">
            <div class="card-header">
              <h5 class="card-title">Orders Cancelled</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{order_cancel}}</h3>
            </div>
          </div> 
        </div>
      </div>

      
          <h5 class="card card-header card-title text-center">Last 5 Orders</h5>
          <div class="card card-body table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Customer's Name</th>
                  <th>Date Ordered</th>
                  <th>Status</th>
                  <th>Update</th>
                </tr>
              </thead>
              <tbody>
                {% for order in order reversed %}
                <tr>
                  <td>{{order.product.title}}</td>
                  <td>{{order.name_of_customer}}</td>
                  <td>{{order.ordered_on}}</td>
                  <td>{{order.status}}</td>
                  <td><a href="{% url 'UpdateOrders' customers.id order.id %}" title="" class="btn btn-primary">Update</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    {% endblock content %}
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About {{Home.title}}</h4>
                        <p>{{Home.aboutus | safe}}</p>
                        <ul>
                            <li><a href="{{Home.facebook}}"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="{{Home.twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="{{Home.linkedin}}"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="{{Home.email}}"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="{{Home.whatsapp}}"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            <li><a href="{{Home.instagram}}"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="{% url 'AboutUs' %}">About Us</a></li>
                            <li><a href="{% url 'Contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'Vendors' %}">Vendors</a></li>
                            <li><a href="{% url 'Shop' %}">Shop</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: {{Home.address |safe}} </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:{{Home.phone}}">{{Home.phone}}</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="{{Home.email}}">{{Home.email}}</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->
{% endblock password %}
<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">&copy;<script>document.write(new Date().getFullYear());</script> by MarlyMart, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms &amp; Conditions</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

  <script src="{% static 'profile/js/jquery.min.js'%}"></script>
  <script src="{% static 'profile/js/popper.js'%}"></script>
  <script src="{% static 'profile/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'profile/js/main.js'%}"></script>

  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/inewsticker.js' %}"></script>
<script src="{% static 'js/bootsnav.js' %} "></script>
<script src="{% static 'js/images-loded.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/baguetteBox.min.js' %}"></script>
<script src="{% static 'js/form-validator.min.js' %}"></script>
<script src="{% static 'js/contact-form-script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
    </body>
    </html>   
